{% extends 'main.html' %}
{% load staticfiles %}
{% block auth %}
    <div align="center">
        <h2>Continue add new account</h2>
        {% if error %}<div class="alert callout small"><strong>Error:</strong>complete your api nickname</div>{% endif %}
        <p>complete your new account nickname</p>
        <form action="{% url 'addaccount' %}" method="post">
            {% csrf_token %}
            <input type="text" name="api_name" placeholder="api name(max length: 15)" maxlength="15" style="width: 400px">
            <input type="submit" value="Finish">
        </form>
    </div>
{% endblock %}