{% extends 'main.html' %}
{% load staticfiles %}
{% block auth %}
    <div align="center">
        <h2>Continue add new account</h2>
        {% if error %}<div class="alert callout small"><strong>Error:</strong> Check your ID and PW </div>{% endif %}
        <p>complete your ftp information</p>
        <form action="{% url 'ftp_auth' %}" method="post">
            {% csrf_token %}
            <p>Hostname: </p><input type="text" name="hostname" style="width: 400px">
            <p>username: </p><input type="text" name="username" style="width: 400px">
            <p>password: </p><input type="password" name="password" style="width: 400px">
            <input type="submit" value="authorization">
        </form>
    </div>
{% endblock %}